.container{
  background-color: #FCB53B;
  width: 100wv;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #fafafa;
  border-radius: 24px;
  padding: 16px;
  max-width: 250px;
  height: 100%;
  border: 2px solid #000;
  box-shadow: 8px 12px #000;
  transition: all .3s ease; 
}

.card:hover{
  box-shadow: -16px 24px 16px #000;
  transform: rotate(8deg) scale(0.8);
  
}

.card-img{

  overflow: hidden;
  border-radius: 12px;
}

.card-img img{
  width: 100%;
}

.card-body{
  margin: 16px auto;
}

.badge{
  background-color: #FCB53B;
  max-width: 60px;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-weight: bold;
}

.date{
  font-size: 12px;
  color: #333;
  
}

.title{
  font-size: 18px;
}
.content{
  font-size: 12px;
  font-weight: normal;
  color: #333;
}

.card-footer{
  margin: 16px auto;
}


.post-author{
  display: flex;
  align-items: center;
}

.author-img{
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.author-img img{
  width: 100%;
  height: 100%;
}

.author-name{
  font-weight: bold;
  margin-left: 8px;
}
